.wrapper {
  width: 100%;
  min-width: 500px;
  max-width: 1000px;
  padding: 10px;

  /* flex */
  display: flex;
  justify-content: space-between;
}
.item {
  width: 33%;
 max-height: 300px;
  overflow: hidden;
  
}